.container{
    height: 100%;
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
}

.box1{
    height: 100px;
    width: 90px;
    background-color: aqua;
    position: absolute;
    left: 40px;
    top: 20px;
}